<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">
		
		
		<!-- 扫描service dao 自动注入bean -->
		<context:component-scan base-package="com.*.service,com.*.dao"/>
		
		
		
		<!-- 通过spring工具类读取资源文件 -->
		<util:properties id="propsReader" location="classpath:jdbc.properties"/>	

		<!-- 获取数据源（连接池） pool /db -->
		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="#{propsReader[driver]}"/>
			<property name="jdbcUrl" value="#{propsReader[url]}"/>
			<property name="user" value="#{propsReader[username]}"/>
			<property name="password" value="#{propsReader[password]}"/>
			
			<!-- 池中最小个数 -->
			<property name="minPoolSize" value="2"/>
			<!-- 池中最大个数 -->
			<property name="maxPoolSize" value="20"/>
			<!-- 一次连接最多可执行SQL语句个数 -->
			<property name="maxStatements" value="100"/>
			<!-- 超时设置（毫秒） -->
			<property name="checkoutTimeout" value="1800"/>
			<!-- 自动增长个数 -->
			<property name="acquireIncrement" value="2"/>
		</bean>
		
		<!-- 会话工厂组件： sessionFactory / -->
		<bean id="sqlSessiongFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<property name="dataSource" ref="dataSource"/>
		</bean>		
		
		<!-- Mapper | sessionFactory | pool | db -->
		<!-- 配置Mapper(dao)接口的自动扫描（扫描指定包下的Mapper接口自动实例） -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="basePackage" value="com.*.dao"/>		
		</bean>
		
		<!-- 事务管理器-->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    		<property name="dataSource" ref="dataSource"/>
  		</bean>

		<!-- 开启注解事务-->
			<tx:annotation-driven transaction-manager="transactionManager"/>

</beans>